<main class="cards">
  <% @pokemons.each do |pokemon| %>
    <article class="card">
      <button class="overlay">
        <a>しらべる</a>
      </button>
      <img class="audio-indicator" src="icons/no-audio.svg" alt="audio indicator icon" width="24" height="24">
      <img class="image" loading="lazy" src="images/<%= "#{pokemon["pokemon_no"].to_s.rjust(3, "0")}.png" %>" alt="<%= "#{pokemon["name"]} の画像" %>" width="150" height="150">
      <section class="content">
        <h2 class="name utterable" data-utterable-text="<%= pokemon["name"] %>"><%= pokemon["name"] %></h2>
        <div class="attributes">
          <hr>
          <span class="attribute-header">のうりょく：</span>
          <span class="attribute-value">
            <% pokemon.abilities.each do |ability| %>
              <%= ability.ability_name %>
              <br>
            <% end %>
          </span>
          <hr>
          <span class="attribute-header">タイプ：</span>
          <span class="attribute-value">
            <% pokemon.types.each do |type| %>
              <%= type.type_name %>
              <br>
            <% end %>
          </span>
        </div>
      </section>
    </article>
  <% end %>
</main>
<script type="module" src="js/home/index.js"></script>
<%= erb :footer %>